build
*.dat
test/*.lua
MANIFEST
*.vtk
*.ele
*.face
*.neu
*.poly
*.node
.*.swp
test/ParaViewTrace*.pvs
dist
*~
Makefile
siteconf.py
tags
doc/html
*.orig
*.egg-info
*.pyc
*.pyo
doc/.build
*.pyd
*.so
distribute*egg
distribute*pth
distribute*tar.gz
