build
*.dat
test/*.lua
MANIFEST
*.vtk
*.ele
*.face
*.neu
*.poly
*.node
.*.swp
test/ParaViewTrace*.pvs
dist
*~
Makefile
siteconf.py
tags
doc/html
*.orig
*.egg-info
*.pyc
*.pyo
doc/.build
*.pyd
*.so
setuptools*egg
setuptools*pth
setuptools*tar.gz
setuptools*pth
.sw[op]

.eggs
.cache
CMakeCache*
CMakeFiles
cmake_install.cmake

tmp
.ipynb_checkpoints
